@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    background-color: #110a01;
}

header{
    padding: 10px 30px;
    position: relative;
    height: 650px;
} 

.mainlogo{
    height: 100px;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 200px;
}

.cen{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

nav{
    border-bottom: 3px solid rgb(224, 105, 1);
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

nav ul li{
    display: block;
    font-family: "Bellota", system-ui;
    font-size: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #9cdde8;
    display: block;
}

nav ul li a:hover{
    color: #ff6f00;
    transition: 0.5s;
}

.logo img{
    height: 350px;
    position: absolute;
    top: 10px;
    right: 0px;
    border-radius: 200px;
}

.intr{
    font-size: 170px;
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: center;
}

.bord{
    position: relative;
    width: 800px;
    height: 400px;
    border: 3px solid rgb(215, 44, 25);
    border-radius: 25px;
}

.pi{
    position: absolute;
    z-index: 2;
    color: rgb(99, 213, 133);
}

.k1{
    font-size: 130px;
    font-family: "Comforter", cursive;
    left: 70px;
    top: -20px;
    color: #ff6f00;
}

.k2{
    font-family: "Bellota", system-ui;
    font-size: 25px;
    color: #df3838;
}

.pos{
    left: 40px;
    bottom: 110px;
}

.pos1{
    left: 40px;
    top: 110px;
}

.pos2{
    left: 270px;
    bottom: 110px;
}

.pos3{
    left: 300px;
    top: 110px;
}

.acti{
    position: absolute;
    z-index: 10;
    background-color: #110a01;
    font-size: 20px;
    font-family: "Bellota", system-ui;
    left: 240px;
    bottom: -40px;
    color: rgb(99, 213, 133);
    border: 3px solid rgb(215, 44, 25);
    border-radius: 20px;
    padding: 20px;
}

.sup{
    position: absolute;
    height: 90px;
    border-radius: 50px;
}

.i1{
    bottom: -150px;
    left: 100px;
}

.i2{
    bottom: -170px;
    left: 380px;
    height: 130px;
}

.i3{
    bottom: -150px;
    left: 280px;
}

.i4{
    bottom: -150px;
    left: 580px;
}

.shortbio{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "DM Serif Text", serif;
    color: rgb(82, 221, 224);
    font-size: 40px;
}

.b2{
    font-size: 40px;
    color: #ff6f00;
    text-align: center;
}

.shortbiop{
    text-align: center;
    font-size: 30px;
    border: 3px solid #228ee1;
    border-radius: 20px;
    padding: 20px;
    margin: 10px, 50px, 50px, 50px;
    width: 60%;
}

.car{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "DM Serif Text", serif;
    color: #9cdee2;
}

.car h2{
    font-size: 50px;
    color: #ff6f00;
    text-align: center;
}

.car h3{
    font-size: 35px;
    color: #a1df74;
    text-align: left;
}

.car p{
    font-size: 30px;
}

.in{
    border: 3px solid #df3838;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    position: relative;
}

.in a{
    text-decoration: none;
    color: #ea9c48;
}

.in a:hover{
    color: rgb(215, 207, 147);
    transition: 0.6s;
}

.in1{
    position: absolute;
    height: 100px;
    top: -30px;
    right: 250px;
    border-radius: 50px;
}

.in2{
    position: absolute;
    height: 95px;
    bottom: -40px;
    right: 200px;
    border-radius: 50px;
}

.in3{
    position: absolute;
    height: 100px;
    width: 160px;
    top: -30px;
    right: 50px;
    border-radius: 50px;
}

.in4{
    position: absolute;
    height: 80px;
    bottom: -30px;
    left: 50px;
    border-radius: 80px;
}

.in5{
    position: absolute;
    height: 70px;
    bottom: -30px;
    left: 150px;
    border-radius: 50px;
}

.in6{
    position: absolute;
    height: 100px;
    top: -25px;
    right: 350px;
    border-radius: 50px;
}

.in7{
    position: absolute;
    height: 100px;
    top: 30px;
    left: 400px;
    border-radius: 50px; 
}


.music{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "DM Serif Text", serif;
    color: #9cdee2;
}

.music h2{
    font-size: 50px;
    color: #ff6f00;
}

.music h4{
    font-size: 35px;
    color: #cecc65;
}

.music p{
    font-size: 35px;
}

iframe{
    margin: 30px;
}

.music a{
    text-decoration: none;
    color: #ea9c48;
}

.music a:hover{
    color: rgb(215, 207, 147);
    transition: 0.6s;
}

.mu4{
    width: 600px;
    height: 200px;
}

.answer{
    height: 500px;
    border-top: 3px solid #df3838;
    border-bottom: 3px solid #df3838;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    width: 300px;
    height: 50px;
    font-size: 25px;
}

label{
    font-size: 30px; 
}


.liket{
    width: 700px;
    height: 50px;
    font-size: 25px;
}

button{
    width: 900px;
    height: 60px;
    font-size: 40px;
    background-color: #228ee1;
    color: aliceblue;
    border-radius: 30px;
    margin: 30px;
}

button:hover{
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #ff6f00;
    color: #110a01;
}

.extra{
    display: block;
    height: 220px;
    border: 3px solid #9cdde8;
    border-radius: 20px;
    font-size: 25px;
    position: relative;
    margin-top: 30px;
    padding: 10px;
    color: #a1df74;
    box-sizing: border-box;
}

.extra nav{
    position: absolute;
    left: 300px;
    top: 80px;
    border: none;
}

.extra nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.extra nav ul li{
    display: block;
    font-family: "Bellota", system-ui;
    font-size: 25px;
}
.extra nav ul li a{
    text-decoration: none;
    color: #ea9c48;
}

.extra nav ul li a:hover{
    color: #ff6f00;
    transition: 0.5s;
}


@media(max-width: 768px){
    header{
        height: 850px;
    }   

    .logo img{
        height: 300px;
        top: 250px;
        right: 200px;
    }

    .bord{
        height: 600px;
    }

    .k1{
        left: 220px;
        top: -50px;
    }

    .pos{
        top: 190px;
        left: 170px;
    }

    .pos1{
        left: 170px;
        top: 70px;
    }

    .pos2{
        top: 190px;
        left: 400px;
    }

    .pos3{
        top: 70px;
        left: 450px;
    }

    .acti{
        left: 200px;
    }

    .in1{
        height: 80px;
        right: 80px;
        top: -40px;
    }

    .in5{
        left: 70px;
    }

    .sup{
        height: 80px;
    }
    
    .i1{
        left: 50px;
        bottom: -130px;
    }

    .i2{
        bottom: -140px;
        left: 330px;
        height: 100px;
    }

    .i3{
        bottom: -130px;
        left: 230px;
    }

    .i4{
        bottom: -120px;
        left: 500px;
        height: 70px;
    }

    select{
        height: 40px;
        width: 450px;
    }

    .liket{
        width: 500px;
        height: 40px;
    }

    button{
        width: 600px;
        height: 55px;
    }

    .extra{
        height: 400px;
    }

    .extra nav{
        top: 200px;
        left: 200px;
    }

    .mu4{
        width: 400px;
        height: 100px;
    }
}

@media(max-width:420px) {
    header{
        height: 1200px;
    }

    .logo img{
        height: 200px;
        top: 270px;
        left: 10px;
    }

    .k1{
        font-size: 60px;
        left: 80px;
        top: 65px;
    }

    .k2{
        font-size: 20px;
    }

    .pos{
        left: 10px;
        top: 170px;
    }

    .pos1{
        left: 10px;
        top: 90px;
    }

    .pos2{
        left: 170px;
        top: 170px;
    }

    .pos3{
        left: 170px;
        top: 90px;
    }

    .acti{
        left: 70px;
        width: 130px;
    }

    .i1{
        left: 10px;
    }

    .i3{
        left: 180px;
    }

    .i2{
        left: -40px;
        bottom: -250px;
        height: 110px;
    }

    .i4{
        bottom: -225px;
        left: 170px;
    }

    .shortbiop{
        font-size: 25px;
        width: 85%;
    }
    .car{
        margin-top: 40px;
    }

    .car h2{
        font-size: 40px;
    }

    .car h3{
        font-size: 30px;
        color: #a1df74;
        text-align: center;
    }

    .car p{
        font-size: 25px;
        text-align: center;
    }

    .in3{
        height: 80px;
    }

    .in2{
        left: 20px;
        height: 80px;
    }

    .in4{
        bottom: -50px;
    }
    
    .in6{
        left: 20px;
        top: -30px;
        height: 80px;
    }

    .in7{
        left: 100px;
        top: -50px;
    }

    .music h2{
        font-size: 40px;
        color: #ff6f00;
    }

    .music h4{
        font-size: 30px;
        color: #cecc65;
    }

    .music p{
        font-size: 25px;
    }

    .answer{
        font-size: 30px;
    }

    select{
        width: 200px;
        height: 30px;
        font-size: 25px;
    }

    label{
        margin: 10px;
        font-size: 25px; 
    }


    .liket{
        margin-top: 20px;
        width: 200px;
        height: 30px;
        font-size: 25px;
    }

    button{
        width: 250px;
        height: 30px;
        font-size: 20px;
    }

    .extra{
        height: 500px;
    }

    .extra nav{
        top: 350px;
        left: 30px;
    }

    .mu4{
        width: 250px;
    }
}